/* ---------------------------------------------------
   FOOTER
--------------------------------------------------- */

.footer {
  background: #222;
  color: white;
  padding: 40px 0;
  margin-top: 40px;
}

.footer a {
  color: #ffcccc;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.social-icons .icon svg {
  width: 28px;
  height: 28px;
  fill: white;
}